In [4]:
import pandas as pd
import cv2
import os

[age]_[gender]_[race]_[date&time].jpg
<br/>

[age] is an integer from 0 to 116, indicating the age<br/><br/>
[gender] is either 0 (male) or 1 (female)<br/><br/>
[race] is an integer from 0 to 4, denoting White, Black, Asian, Indian, and Others.<br/><br/>
[date&time] is in the format of yyyymmddHHMMSSFFF,

In [24]:
temp=[]
cnt=0
for file in os.listdir('/home/hojin/agerec/data'):
    age,gender,race,date=file.split("_")
    temp.append((age,gender,race,date.rstrip(".jpg")))

In [30]:
cols=["Age","Gender","Race","Time"]
df=pd.DataFrame(temp,columns=cols)

In [36]:
df

       Age Gender Race               Time
0       20      1    0  20170119153410801
1       39      1    1  20170116174525125
2       61      1    1  20170109142408075
3      100      1    0  20170119212053665
4       10      0    0  20170116201102149
...    ...    ...  ...                ...
24103    9      1    3  20161220222856346
24104    9      1    3  20170104222949455
24105    9      1    4  20170103200637399
24106    9      1    4  20170103200814791
24107    9      1    4  20170103213057382

[24108 rows x 4 columns]

In [46]:
df.groupby('Age')['Gender'].apply(list)

Age
1      [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...
10     [0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...
100                 [1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]
101                                               [0, 1]
103                                                  [0]
                             ...
92               [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
93                                       [1, 1, 1, 1, 1]
95                        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
96     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
99                           [1, 1, 1, 1, 0, 1, 1, 1, 1]
Name: Gender, Length: 104, dtype: object